<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카피 (IoT와 함께) 프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="../css/proj.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class='tab_wrap'>
        <hr class='line'>

        <br>

        <div class='tab_menu'>
            <button class='tab_menu_btn1 tab_menu_btn on' type='button' onclick="getBoxname(this.className)">프로젝트 소개</button>
            <button class='tab_menu_btn2 tab_menu_btn' type='button' onclick="getBoxname(this.className)">프로젝트 PPT</button>
            <button class='tab_menu_btn3 tab_menu_btn' type='button' onclick="history.go(-1)">다른 프로젝트 보기</button>
        </div>

        <div class='tab_container'>
            <div class='tab_box1 tab_box on' style="text-align: center;">
                <div class='content_wrap'>
                    <div class='title'>
                        <h1 style='color: #034f84;'>■ 프로그램 소개</h1>
                        <h2 style='color: #034f84;'>주제 : 어민들을 위한 병어 자동 분류 시스템 (시제품 타입)</h2>
                    </div>

                    <div class='main'>
                        <h3><br><br>『개발 동기 및 목적』</h3>
                        <h4>
                            ❏ 개발동기<br> 수산물에 대한 전염병 발생이 5년새 4배이상 증가하는 등 병어에 대한 피해가 증가하고 있다. <br>정부가 예산을 들여 예방이나 치료에 힘을 쓰고 있지만 뚜렷한 효과가 나타나지 않았는데 이런 문제에 도움이 될 만한 솔루션을 제공하고자 개발을 시작하게 되었다. <br><br>❏ 개발목적<br>- 양식업을 하는 어민들의 병어로 인한 피해를 최소화<br>- 물고기의 병의 경우 바이러스로 전파되어 전염성이 있기 때문에 빠른 발견을 통해 전염을 예방
                        </h4>

                        <h3><br>『기대효과 및 활용방안』</h3>
                        <h4>
                            ❏ 기대효과<br>- 양식장에 부착하여 병어를 분류해줘 병의 전염을 예방가능<br>다른 양식업 관련 ICT 기술과 융합하여 다양한 방법으로 응용 가능<br>- 사람이 많은 수의 물고기를 관찰하고 병어를 판단하는 것은 현실적으로 어려운데 이를 자동화하여 편의성 증대<br>- 양식업을 한다고 해서 물고기 병에 대해 잘 알 수 없는데 자동화 시스템을 통해 어떤 병인지 파악하고 정보를 제공하여 적절한 대처 가능<br><br>❏ 활용방안<br>- 양식업을 하는 어민들의 어장에 설치하여 병어 분류 서비스<br>- 병어뿐 아니라 물고기 종도 분류를 해주어 낚시꾼과 같은 일반인들에게도 어종 분류 서비스를 제공
                        </h4>
                    </div>
                </div>
            </div>

            <div class='tab_box2 tab_box' style="text-align: center;">
                <h1>카피 (병어 자동 분류를 IoT와 함께)</h1>
                <% for(var i=0;i<data.length;i++){ %>
                    <img src='../imgs/cafi_iot_proj/<%=data[i]%>' width='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
                <% } %>
                <br><br><br>
                <input class='top_btn' type='image' src='../../imgs/top_btn.jpg' onclick="javascript:window.scrollTo(0,0)" height="50px" width="50px">
            </div>
        </div>
    </div>
</body>

<script src='../js/coreFunc.js'></script>

</html>