<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카피 프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="../css/prjo.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class='tab_wrap'>
        <hr class='line'>

        <br>

        <div class='tab_menu'>
            <button class='tab_menu_btn1 tab_menu_btn on' type='button' onclick="getBoxname(this.className)">프로젝트 소개</button>
            <button class='tab_menu_btn2 tab_menu_btn' type='button' onclick="getBoxname(this.className)">프로젝트 PPT</button>
            <button class='tab_menu_btn3 tab_menu_btn' type='button' onclick="history.go(-1)">다른 프로젝트 보기</button>
        </div>

        <div class='tab_container'>
            <div class='tab_box1 tab_box on' style="text-align: center;">
                <div>
                    <h1>프로그램 소개</h1>
                    <h2>주제 : 어민들을 위한 병어 자동 분류 시스템</h2>
                </div>
            </div>

            <div class='tab_box2 tab_box' style="text-align: center;">
                <h1>카피 (병어 자동 분류 프로그램)</h1>
                <% for(var i=0;i<data.length;i++){ %>
                    <img src='../imgs/cafi_proj/<%=data[i]%>' width='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
                <% } %>
                <br><br><br>
                <input class='top_btn' type='image' src='../../imgs/top_btn.jpg' onclick="javascript:window.scrollTo(0,0)" height="50px" width="50px">
            </div>
        </div>
    </div>
</body>

<script src='../js/coreFunc.js'></script>

</html>