<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카피 (IoT와 함께) 프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="../css/proj.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class='tab_wrap'>
        <hr class='line'>

        <br>

        <div class='tab_menu'>
            <button class='tab_menu_btn1 tab_menu_btn on' type='button' onclick="getBoxname(this.className)">프로젝트 소개</button>
            <button class='tab_menu_btn2 tab_menu_btn' type='button' onclick="getBoxname(this.className)">프로젝트 PPT</button>
            <button class='tab_menu_btn3 tab_menu_btn' type='button' onclick="history.go(-1)">다른 프로젝트 보기</button>
        </div>

        <div class='tab_container'>
            <div class='tab_box1 tab_box on' style="text-align: center;">
                <div class='content_wrap'>
                    <div class='title'>
                        <h1 style='color: #034f84;'>■ 프로그램 소개</h1>
                        <h2 style='color: #034f84;'>주제 : 소방청의 화재 피해 데이터와 그 밖의 데이터를 사용해 화재 발생 시 피해량을 예측</h2>
                    </div>

                    <div class='main'>
                        <h3><br><br>『개발 동기 및 목적』</h3>
                        <h4>
                            ❏ 개발동기
                            <br>화재 발생 건수는 유지하고 있지만 재산 피해는 계속 증가하고 있다.
                            <br>이를 보고 미리 화재 피해량을 예측하여 화재로 인한 피해를 예방할 수 있지 않을까 하는 아이디어로 개발하게 되었다. 
                            <br><br>
                            ❏ 개발목적
                            <br>- 화재 피해 예측을 통해 화재를 사전에 예방
                            <br>- 누구나 자신이 살거나 운영하고 있는 건물의 위험을 인지하게 하고자함
                        </h4>

                        <h3><br>『기대효과 및 활용방안』</h3>
                        <h4>
                            ❏ 기대효과
                            <br>- 화재 피해를 미리 예측을 하여 맞는 보험이나 위험 요소들을 미리 예방
                            <br>- 화재에 대한 경각식을 느끼게하여 화재 발생을 사전에 방지
                            <br><br>
                            ❏ 활용방안
                            <br>- 건물에 대한 정보를 넣어 화재 피해를 예측해주는 홈페이지
                            <br>- 보험사에서 화재 피해를 예측하여 건물별로 맞는 상품을 개발하는 등 상업적으로 사용 가능
                            <br>- 소방서에서 화재가 발생한 곳을 아는 것 만으로 화재의 규모를 짐작하여 상황에 맞는 대처 실시
                        </h4>
                    </div>
                </div>
            </div>

            <div class='tab_box2 tab_box' style="text-align: center;">
                <h1>화재 피해량 예측 서비스</h1>
                <% for(var i=0;i<data.length;i++){ %>
                    <img src='../imgs/fire_proj/<%=data[i]%>' width='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
                <% } %>
                <br><br><br>
                <input class='top_btn' type='image' src='../../imgs/top_btn.jpg' onclick="javascript:window.scrollTo(0,0)" height="50px" width="50px">
            </div>
        </div>
    </div>
</body>

<script src='../js/coreFunc.js'></script>

</html>