<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Tub 프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="../css/proj.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class='tab_wrap'>
        <hr class='line'>

        <br>

        <div class='tab_menu'>
            <button class='tab_menu_btn1 tab_menu_btn on' type='button' onclick="getBoxname(this.className)">프로젝트 소개</button>
            <button class='tab_menu_btn2 tab_menu_btn' type='button' onclick="getBoxname(this.className)">프로젝트 PPT</button>
            <button class='tab_menu_btn3 tab_menu_btn' type='button' onclick="history.go(-1)">다른 프로젝트 보기</button>
        </div>

        <div class='tab_container'>
            <div class='tab_box1 tab_box on' style="text-align: center;">
                <div class='content_wrap'>
                    <div class='title'>
                        <h1>■ 프로그램 소개</h1>
                        <h2>주제 : 인공지능과 IoT 기술을 융합한 욕조 서비스 플랫폼</h2>
                    </div>

                    <div class='main'>
                        <h3><br><br>『개발 동기 및 목적』</h3>
                        <h4>
                            ❏ 개발동기
                            <br> 목욕은 남녀노소 국적, 나이 불문하고 누구나 하는 행위이다. 하루를 시작할 때 혹은 마무리할 때 하는데 사람들은 단순히 위생활동으로만 생각한다는 점이 아쉬웠다. 물을 데우고 타월을 사용해 바디워시를 바르고 물로 헹구고, 가장 중요한 활동임에도 너무나 간단히 끝냈다고 생각한다. 우리는 그 점을 착안하여 목욕이라는 행위를 단순한 위생활동에서 휴식이라는 느낌을 강조하고 즐거움을 추가시켜 목욕을 가치 있게하기 위해 개발을 시작하게 되었다.<br><br>
                            ❏ 개발목적
                            <br>뷔페 못지않게 많은 요리를 해주는 PC방, 소금방, 얼음방과 같이 테마가 있는 찜질방, 공포, 미스테리와 같이 취향에 따라 즐길 수 있는 숙박시설, 요즘 이러한 컨텐츠들이 많이 유행을 하고 있다. 하지만 목욕에 관한 부분은 전무하였다. 그렇기 때문에 이런 목욕도 컨텐츠화하여 새로운 사업 아이템으로 활용을 할 수 있고 저렴한 가격으로 쉽게 이용할 수 있는 플랫폼을 만들어 판매 혹은 대여를 하면 누구나 양질의 서비스를 받을 수 있게 하고자 하였다. 그리고 사람마다 목욕의 스타일이 다르다. 몇 십분동안 뜨거운 물에 몸을 담구며 피로를 푸는 사람이 있기도 하고 시원한 물에 짧게 몸을 담궈 스트레스를 푸는 사람도 있다. 이렇게 다양한 사람이 있는데 그것을 데이터화하여 나이면 나이, 직업이면 직업별로 다른 서비스를 제공하고 또 인공지능 기술을 사용하여 예측까지 해주어 맞춤형 서비스와 사용성을 극대화 하고자 한다
                        </h4>

                        <h3><br>『기대효과 및 활용방안』</h3>
                        <h4>
                            ❏ 기대효과
                            <br>- 이것저것 준비할 필요없이 터치 몇 번으로 환경이 갖추어짐
                            <br>- 학교, 가사노동, 여러 활동의 피로를 풀 수 있는 환경을 쉽게 마련해 줌
                            <br>- 편하고 쉽게 사용을 원하는 요즘 젊은 세대와 요구를 충족할 것으로 기대되고 노년층, 어린이들과 같이 여러 연령층이 쉽게 사용할 것으로 기대됨
                            <br>- 욕조만 있다면 탈부착이 가능한 키트로 어디서든 활용할 수 있어 여러 사업, 집에서 쉽게 설치 가능할 것으로 기대됨<br><br>

                            ❏ 활용방안
                            <br>- 샤워/목욕을 하나의 컨텐츠화 시켜 찜질방, 사우나와는 다르게 사람의 기호별로 다른 방식의 경험을 할 수 있게 함
                            <br>- 욕조가 없는 환경이더라도 키트의 모양을 약간 변경한다면 사용가능
                            <br>(부품의 기종을 변경, 내부 SW는 바꿀 필요가 없음)
                        </h4>
                    </div>
                </div>
            </div>

            <div class='tab_box2 tab_box' style="text-align: center;">
                <h1>I-Tub (사용자 맞춤 샤워 서비스)</h1>
                <% for(var i=0;i<data.length;i++){ %>
                    <img src='../imgs/itub_proj/<%=data[i]%>' width='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
                <% } %>
                <br><br><br>
                <input class='top_btn' type='image' src='../../imgs/top_btn.jpg' onclick="javascript:window.scrollTo(0,0)" height="50px" width="50px">
            </div>
        </div>
    </div>
</body>

<script src='../js/coreFunc.js'></script>

</html>