<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관광 취약 도시 분석 및 제언</title>
    <link rel="stylesheet" type="text/css" href="../css/proj.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class='tab_wrap'>
        <hr class='line'>

        <br>

        <div class='tab_menu'>
            <button class='tab_menu_btn1 tab_menu_btn on' type='button' onclick="getBoxname(this.className)">프로젝트 소개</button>
            <button class='tab_menu_btn2 tab_menu_btn' type='button' onclick="getBoxname(this.className)">프로젝트 PPT</button>
            <button class='tab_menu_btn3 tab_menu_btn' type='button' onclick="history.go(-1)">다른 프로젝트 보기</button>
        </div>

        <div class='tab_container'>
            <div class='tab_box1 tab_box on' style="text-align: center;">
                <div class='content_wrap'>
                    <div class='title'>
                        <h1 style='color: #034f84;'>■ 프로그램 소개</h1>
                        <h2 style='color: #034f84;'>주제 : 관광 관련 데이터를 활용하여 취약 도시를 분석하고 취약한 점을 해결할 방안을 제시</h2>
                    </div>

                    <div class='main'>
                        <h3><br><br>『개발 동기 및 목적』</h3>
                        <h4>
                            ❏ 개발동기
                            <br> 사람들이 몰리는 관광지는 한정되어 있고 모두 집중되다보니 관광 취약 도시의 경우는 계속 쇠퇴하여 뒤쳐지는 경향이 있다. 
                            <br>이를 해결하기 위해 데이터 분석을 하여 취약 도시를 찾아내고 해결 방안을 얻고자 만들게 되었다.
                            <br>정부가 예산을 들여 예방이나 치료에 힘을 쓰고 있지만 뚜렷한 효과가 나타나지 않았는데 이런 문제에 도움이 될 만한 솔루션을 제공하고자 개발을 시작하게 되었다. 
                            <br><br>
                            ❏ 개발목적
                            <br>- 한 곳으로 몰리는 관광 사업의 분배
                            <br>- 쇠퇴하는 도시를 관광지로서 재생할 수 있게 돕기위해
                        </h4>

                        <h3><br>『기대효과 및 활용방안』</h3>
                        <h4>
                            ❏ 기대효과
                            <br>- 간접적으로나마 쇠퇴 도시를 재생할 것으로 기대
                            <br>- 관광 사업 뿐 아니라 기업의 지점 오픈과 같은 목적으로 사용 가능
                            <br><br>
                            ❏ 활용방안
                            <br>- 각 도시의 취약점을 알 수 있는 상황 현황 홈페이지
                            <br>- 일반인이 창업을 하기 전 적합한 지역인지 판단할 수 있는 서비스
                        </h4>
                    </div>
                </div>
            </div>

            <div class='tab_box2 tab_box' style="text-align: center;">
                <h1>관광 취약 도시 분석 및 제언</h1>
                <% for(var i=0;i<data.length;i++){ %>
                    <img src='../imgs/travel_proj/<%=data[i]%>' width='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
                <% } %>
                <br><br><br>
                <input class='top_btn' type='image' src='../../imgs/top_btn.jpg' onclick="javascript:window.scrollTo(0,0)" height="50px" width="50px">
            </div>
        </div>
    </div>
</body>

<script src='../js/coreFunc.js'></script>

</html>