<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카피 프로젝트 소개</title>
</head>

<body>
    
    <div style="text-align: center;">
        <h1>카피 (병어 자동 분류 프로그램)</h1>
        <% for(var i=0;i<=data.length;i++){ %>
            <img src='../imgs/cafi_proj/<%=data[i]%>' width='70%' height='70%' style='vertical-align: middle;border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
        <% } %>
    </div>
</body>

</html>